{{#if error_messages}}
  <div class="alert alert-danger alert-dismissible fade show mx-auto text-center" role="alert" style="width: 400px;">
    {{ error_messages }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}
{{#if success_messages}}
  <div class="alert alert-success alert-dismissible fade show mx-auto text-center" role="alert" style="width: 400px;">
    {{ success_messages }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}