<div>
    <h3>Today is workday</h3>
    <form action="/checkin" method="POST">
        <button class="btn btn-primary" type="submit">check</button>
    </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">check-deadline</th>
                <th scope="col">f-check</th>
                <th scope="col">l-check</th>
                <th scope="col">status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>