<div class="mb-4 p-3 mx-auto border border-3 border-dark" style="width: 400px;height:400px;">
  <h1 class="h3 font-weight-normal my-3 text-center">Sign In</h1>
  <form class="form-signin" action="/signin" method="POST">
    <div class="form-row mb-3">
      <label class="form-label" for="account">Account</label>
      <input class="form-control" id="account" type="text" name="account" class="form-control" placeholder="Account"
        required autofocus>
    </div>
    <div class="form-row mb-3">
      <label class="form-label" for="password">Password</label>
      <input class="form-control" id="password" type="password" name="password" class="form-control"
        placeholder="Password" required>
    </div>
    <button class="btn btn-primary btn-block" type="submit">Submit</button>
  </form>
</div>