container_commands:
    database_migration:
        leader_only: true
        command: "npm run dbmigrateundo"
container_commands:
    database_migration:
        leader_only: true
        command: "npm run dbmigrate"
container_commands:
    database_migration:
        leader_only: true
        command: "npm run seed"