option_settings:
container_commands:
    database_migration:
        leader_only: true
        command: "npm run dbmigrate"
        ignoreErrors: true
        waitAfterCompletion: forever
    database_migration:
        leader_only: true
        command: "npm run seed"
        ignoreErrors: true
        waitAfterCompletion: forever