option_settings:
    container_commands:
        database_migrationundo:
            leader_only: true
            command: "npm run dbmigrateundo"
            ignoreErrors: true
    container_commands:
        database_migration:
            leader_only: true
            command: "npm run dbmigrate"
            ignoreErrors: true
    container_commands:
        database_migration:
            leader_only: true
            command: "npm run seed"
            ignoreErrors: true